<!doctype html>
<html>
    <head>
        <title> Hello </title>
    </head>
    <body>

    </body>
    <form action="/" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="submit" value="push">
    </form>
</html>

